     name: DemoCollection
     on:
      push:
       branches: 
                 [ "main" ]
   
     env:
       COLLECTION_NAME_1: NewEnvironment.postman_environment

     jobs:
      build:
       runs-on: ubuntu-latest
       steps:
         # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
         - uses: actions/checkout@v2

         # INstall Node on the runner
         - name: Install Node
           uses: actions/setup-node@v1
           with:
            node-version: "16.x"
       
         # Install the newman command line utility and also install the html extra reporter
         - name: Install newman
           run: |
             npm install -g newman
             npm install -g newman-reporter-csv
             npm install -g newman-reporter-htmlextra
 
        # Make directory to upload the test results
         - name: Make Directory for results
           run: mkdir -p testResults
        
        # Run the POSTMAN collection
         - name: Run POSTMAN collection
           run: |
               newman run Postman_Collections/$COLLECTION_NAME_1.json -r htmlextra,csv --reporter-htmlextra-export APIResults/$COLLECTION_NAME_1.html --reporter-csv-export APIResults/$COLLECTION_NAME_1.csv --insecure --delay-request 5000
        # Upload the contents of Test Results directory to workspaces
         - name: Output the run Details
           uses: actions/upload-artifact@v2
           with: 
            name: RunReports
            path: APIResults
       
         - uses: actions/upload-artifact@v3
           if: always()
           with:
              name: RunReports
              path: APIResults
 

